# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs.

root = true

# All files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Specific to files with these extensions
[*.{js,jsx,ts,tsx,json,css,scss,html,xml,yml,md}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
