commonConfiguration: |-
  # Enable AOF https://redis.io/topics/persistence#append-only-file
  appendonly yes
  # Enable RDB persistence
  save "1 1"

architecture: standalone

auth:
  enabled: false

{{ if eq .Environment.Name "ci" }}
master:
  persistence:
    enabled: false
{{ end }}