command: ["start:api"]

{{ if eq .Environment.Name "ci" }}
image:
  repo: web3f/monitoring-platform
  tag: {{ env "CIRCLE_SHA1" | default "kind" }}
{{ end }}

{{ if eq .Environment.Name "ci" }}
resources: null
{{ end }}

{{ if eq .Environment.Name "test" }}
image:
  repo: web3f/monitoring-platform
  tag: {{ env "IMAGE_TAG" }}
  imagePullPolicy: Always
monitoringConfig:
  defaults:
    alerts:
      repeatIntervalHours: 0.0083
      messengerType: matrix
      targets:
        - "!BabNKVNdOktKGafXzd:web3.foundation"
    chains:
      - Polkadot
    monitors:
      - name: Staking
        commission: 5
      - name: Telemetry
        minMemoryGB: 16
        minCores: 4
  groups:
    - id: test-group-validator-1
      accounts:
        - address: 15tEXHHDjEv6VKR2MhpnfeJZnKQnTyMPVvGH51BJvBXNoCNK
config:
  environment: test
  database:
    host: mypg-postgresql
    port: 5432
    username: postgres
    password: postgres
    database: monitoring
  httpServer:
    port: 3000
    host: 0.0.0.0
  notificationApi:
    matrix:
      url: http://matrix:3000/notifications
  logging:
    level: info
{{ end }}
