args: ["start:chain"]

{{ if eq .Environment.Name "ci" }}
image:
  repo: web3f/monitoring-platform
  tag: {{ env "CIRCLE_SHA1" | default "kind" }}
{{ end }}

{{ if eq .Environment.Name "ci" }}
resources: null
{{ end }}

{{ if eq .Environment.Name "test" }}
image:
  repo: web3f/monitoring-platform
  tag: {{ env "IMAGE_TAG" }}
  imagePullPolicy: Always
monitoringConfig: null
config:
  environment: test
  chain: PeoplePolkadot
  rpc:
    url: wss://rpc-people-polkadot.luckyfriday.io
  startBlock: 1565685
  monitoringGroupIds:
    - test-group-validator-1
  monitoringApi:
    baseUrl: http://api:3000
    endpoints:
      createIncident: /incidents
      resolveIncident: /incidents/resolve
      getConfig: /monitoring-config/groups
  httpServer:
    port: 3000
    host: 0.0.0.0
  logging:
    level: debug 
{{ end }}
