args: ["start:matrix"]

{{ if eq .Environment.Name "ci" }}
image:
  repo: web3f/monitoring-platform
  tag: {{ env "CIRCLE_SHA1" | default "kind" }}
{{ end }}

{{ if eq .Environment.Name "ci" }}
resources: null
{{ end }}

{{ if eq .Environment.Name "test" }}
image:
  repo: web3f/monitoring-platform
  tag: {{ env "IMAGE_TAG" }}
  imagePullPolicy: Always
{{ end }}
config:
  matrix:
    userId: "{{ env "MATRIX_USER" }}"
    password: "{{ env "MATRIX_PASS" }}"
    url: "https://matrix.web3.foundation"
    rooms:
      - id: "!BabNKVNdOktKGafXzd:web3.foundation"
    logging:
      level: warn
  monitoringApi:
    baseUrl: "http://api:3000"
  server:
    port: 3000
    host: "0.0.0.0"
  logging:
    level: info
