{{ if eq .Environment.Name "ci" }}
image:
  tag: {{ env "CIRCLE_SHA1" | default "kind" }}
{{ else if eq .Environment.Name "local" }}
image:
  repo: localhost:5000/mp-watcher
  tag: latest
{{ end }}

{{ if eq .Environment.Name "ci" }}
resources: null
{{ end }}

{{ if eq .Environment.Name "test" }}
image:
  tag: {{ env "IMAGE_TAG" }}
  imagePullPolicy: Always
{{ end }}
config:
  redis:
    url: redis://redis-master:6379/0
  matrix:
    userId: "{{ env "MATRIX_USER" }}"
    password: "{{ env "MATRIX_PASS" }}"
    serverAddress: "https://matrix.web3.foundation"
    rooms:
      - id: "!BabNKVNdOktKGafXzd:web3.foundation"
    logging:
      level: warn